<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     xmlns:tools="http://schemas.android.com/tools"
    >


    <uses-permission
        android:required="true"
        android:name="android.permission.VIBRATE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.WRITE_MEDIA_AUDIO" />

    <uses-permission
        android:required="true"
        android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-permission
        android:required="true"
        android:name="android.permission.FLASHLIGHT" />
    <uses-permission
        android:required="true"
        android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:required="true"
        android:name="com.google.android.things.permission.MANAGE_INPUT_DRIVERS" />
    <uses-permission
        android:required="true"
        android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />


        <application

            android:name="com.allergoscope.app.App"
            android:allowBackup="true"
            android:largeHeap="true"
            android:icon="@mipmap/ic_launcher"
            android:screenOrientation="reverseLandscape"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            >
            <receiver android:name="androidx.media.session.MediaButtonReceiver"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MEDIA_BUTTON" />
                </intent-filter>
            </receiver>

            <service
                android:name="androidx.sharetarget.ChooserTargetServiceCompat"
                tools:node="remove" />

            <activity
                android:name=".MainActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="reverseLandscape"
                android:noHistory="false"
                android:theme="@style/AnimationActivity"
                tools:node="merge"
                android:exported="true">
                <intent-filter>

                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER" />

                </intent-filter>

            </activity>
        <activity
                android:name=".ViewActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label=""
                android:windowSoftInputMode="stateHidden"
                android:screenOrientation="reverseLandscape"
                android:noHistory="false"
                android:exported="false"
                android:theme="@style/AnimationActivity"
                tools:ignore="LockedOrientationActivity" />



            <activity
                android:name=".MenuActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="reverseLandscape"
                android:windowSoftInputMode="adjustPan"
                android:exported="false"
                android:noHistory="false"
                android:theme="@style/AnimationActivity"
                >


            </activity>

            <activity
                android:name="lib.explorer.ExplorerActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label=""
                android:screenOrientation="reverseLandscape"
                android:windowSoftInputMode="adjustPan"
                android:noHistory="false"
                android:theme="@style/AnimationActivity"
                android:exported="false"
                />

            <activity
                android:name="lib.ExitProgramActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="reverseLandscape"
                android:noHistory="false"
                android:theme="@android:style/Theme.NoDisplay"
                android:exported="false"
                 />
        </application>

    </manifest>